.like_btn1 {
    position: absolute;
    top: 1.5rem;
    left: 11.4rem;
    z-index: 100;
}

.like_btn2 {
    position: absolute;
    top: 1.5rem;
    left: 11.4rem;
    z-index: 99;
    color: #EEEBEB;
}

.boxitems {
    position: relative;
    z-index: 10;
}

.add_to_cart_button {
    border: 0;
    width: 90%;
    height: 2rem;
    color: black;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.add_to_cart_button:hover {
    background-color: #1c2a5e;
    color: white;
}