.logo {
    width: 12rem;
    height: 3rem;
}

.logo-align {
    width: 12rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.text {
    font-size: 5rem;
    font-weight: 400;
}